<header>
    <span class="de_manager_title">评论管理</span>
    <div class="de_manager_search">
        <input type="text" id="de_comment_search_input">
        <select id="de_comment_search_type">
            <option value="fullname">用户名</option>
            <option value="term">作品标签</option>
        </select>
        <input type="button" value="刷选" id="de_comment_search_btn">
    </div>
</header>

<table class="de_manager_table" cellpadding="0" cellspacing="0" id="de_comments_grid">
    <thead>
    <tr><th>评论</th><th>评论者</th><th>评论作品</th><th>评论时间</th><th>状态</th><th>操作</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>