<header>
    <span class="de_manager_title">作品管理</span>
    <div class="de_manager_search">
        <input type="text" id="de_entity_search_input">
        <select id="de_entity_search_type">
            <option value="term">作品标签</option>
            <option value="fullname">用户名</option>
        </select>
        <input type="button" value="刷选" id="de_entity_search_btn">
    </div>
</header>

<table class="de_manager_table" cellpadding="0" cellspacing="0" id="de_entities_grid">
    <thead>
    <tr><th>作品</th><th>上传者</th><th>上传时间</th><th>评论</th><th>赞</th><th>奖章</th><th>状态</th><th>操作</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>