<header>
    <span class="de_manager_title">作品管理</span>
    <div class="de_manager_search">
        <input type="text" id="de_entity_search_input">
        <select id="de_entity_search_type">
            <option value="term">作品标签</option>
            <option value="fullname">用户名</option>
        </select>
        <input type="button" value="刷选" id="de_entity_search_btn">
    </div>
</header>

<table template-pagination="ownPagination" class="de_manager_table" ng-table="table">
    <thead>
    <tr><th>作品</th><th>上传者</th><th>上传时间</th><th>评论</th><th>赞</th><th>奖章</th><th>状态</th><th>操作</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat="d in $data">
            <td><a ng-href="users/{{d.user.id}}">{{d.user.fullname}}</a></td>
            <td>{{d.user.email}}</td>
            <td>{{d.artifact_count}}</td>
            <td>{{d.comment_count}}</td>
            <td>{{d.honor_sum}}</td>
            <td>{{d.user.active|showActive}}</td>
            <td>{{d.user.roles}}</td>
            <td><a href="" ng-click="">删除</a></td>
        </tr>
    </tbody>
</table>

<script type="text/ng-template" id="ownPagination">
    <!--表达式中不能用比较运算符，需要自己写filter（minNumber) -->
    <div class="tableInfo">显示第 {{(params.page()-1)*params.count()+1}} 至
        {{params.page()*params.count() | getMinNumber:params.total()}}
        项结果，共 {{params.total()}} 项</div>
    <ul class="pagination">
        <li ng-repeat="page in pages"
            ng-class="{'disabled': !page.active}"
            ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;</a>
            <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span>{{page.number}}</span></a>
            <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span>{{page.number}}</span></a>
            <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span>{{page.number}}</span></a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">&raquo;</a>
        </li>
    </ul>
</script>