<header>
    <span class="de_manager_title">用户管理</span>
    <div class="de_manager_search">
        <input type="text" id="de_user_search_input">
        <select disabled id="de_user_search_type">
            <option value="fullname">用户名</option>
        </select>
        <input type="button" value="刷选" id="de_user_search_btn">
    </div>
</header>

<table class="de_manager_table" cellpadding="0" cellspacing="0" id="de_users_grid">
    <thead>
    <tr class="bar"><th>用户</th><th>邮箱</th><th>上传作品</th><th>发表评论</th><th>获得奖章</th><th>状态</th><th>权限</th></tr>
    </thead>
    <tbody>
    </tbody>
</table>