<article id="zy_content" class="zy_content">
    <section id="zy_left" class="zy_column_50">
        <section id="zy_left_top">
            <label class="zy_section_heading">ppt文件</label>
            <div class="zy_toolbar">
                <input type="button" id="zy_upload_media_button" class="zy_upload_btn" value="更改">
                <span id="zy_file_info" class="zy_file_info"></span>
            </div>
        </section>
        <section id="zy_left_bottom">
            <label class="zy_section_heading">缩略图</label>
             <div class="zy_toolbar">
                 <input type="button" id="zy_upload_thumb_button" class="zy_upload_btn" value="上传">
                 <div class="zy_tooltips">限2M以内的jpg或png</div>
             </div>
            <img src="../images/data/zy_default_thumb.png" class="zy_media_thumb" id="zy_media_thumb">
        </section>
    </section>
    <section id="zy_right" class="zy_column_50">
        <section id="zy_right_top">
            <label class="zy_section_heading">标题</label><span class="zy_tooltips">可选</span>
            <input id="zy_media_title" maxlength="80" type="text" class="zy_input_text">
        </section>
        <section id="zy_right_bottom">
            <label class="zy_section_heading">描述</label><span class="zy_tooltips">可选</span>
            <textarea id="zy_media_memo" class="zy_textarea_input"></textarea>
        </section>
    </section>
</article>