<!DOCTYPE HTML>
<html ng-app="pinWall">
<head>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,target-densityDpi=device-dpi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="fragment" content="!">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no"/>
    <link rel="apple-touch-icon" href="images/app/logo_40.png" />
    <meta name="description" content="“图钉墙”是由湖南大学设计艺术学院自主开发的设计作品与教学资源库，其中收录了湖南大学设计艺术学院及其他兄弟院校的各类课程作业、设计研究报告、教学课件和讲课视频。" />
    <meta name="baidu-tc-cerfication" content="622f31c8e7be07f0ac794950d45efc53" />
    <meta name="keywords" content="图钉墙, 工业设计, 艺术设计, 设计教育, 设计作品, 设计资源, 湖南大学设计艺术学院" />
    <title>图钉墙 - HNU Design</title>
    <base id="de_base_url" href="http://localhost/DesignEngine_Web/"/>
    <!--<base id="de_base_url" href="http://127.0.0.1:50252/"/>-->
    <link href="css/lib/toaster.css" rel="stylesheet" type="text/css"/>
    <link href="css/app/general.css" rel="stylesheet" type="text/css"/>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/toaster.js"></script>

    <script src="js/lib/plupload.full.min.js"></script>
    <script src="js/lib/qiniu.js"></script>
   <!-- <script src="http://qzone.qq.com/gy/404/data.js"></script>
    <script src="js/src/baiduAnalytics.js"></script>-->
    <script src="js/src/angularSrc/classes.js"></script>
    <script src="js/src/angularSrc/filters.js"></script>
    <script src="js/src/angularSrc/directives.js"></script>
    <script src="js/src/angularSrc/controllers.js"></script>
    <script src="js/src/angularSrc/app.js"></script>
</head>
<body ng-controller="super">
<toaster-container></toaster-container>
    <div class="de_page_wrapper" ng-show="mainFlags.showMainWrapper">
        <header class="de_header">
            <h1 class="de_logo"><a href="http://127.0.0.1:50252/" target="_self">图钉墙</a></h1>

            <!-----用户菜单----->
            <nav class="de_user_nav de_borderbox">
                <ul>
                    <li class="de_reg_view" ng-show="currentUser.id">
                        <a class="de_btn_user_profile de_borderbox" href="user/{{currentUser.id}}">
                            <img class="photo" ng-src="{{currentUser.profile}}" title="{{currentUser.name}}">
                            {{currentUser.name}}
                        </a>
                    </li>
                    <li class="de_reg_view" ng-show="currentUser.id">
                        <a class="de_btn_upload de_borderbox" href="upload">上传</a>
                    </li>
                    <li class="de_reg_view " ng-show="currentUser.id">
                        <a class="de_btn_hotdogmenu de_borderbox" href="" ng-click="showMoreMenu()">更多</a>
                        <ul class="de_ext_nav {{mainFlags.extMenuClass}} de_transition">
                            <li class="de_reg_view ">
                                <a href="" ng-click="editPwd()">修改密码</a>
                            </li>
                            <li class="de_reg_view ">
                                <a href="user/{{currentUser.id}}">个人主页</a>
                            </li>
                            <li class="de_reg_view ">
                                <a href="" ng-click="editInfo()">修改个人信息</a>
                            </li>
                            <li class="de_admin_view " ng-show="currentUser.role=='admin'">
                                <a href="adminhome/users">用户管理</a>
                            </li>
                            <li class="de_admin_view " ng-show="currentUser.role=='admin'">
                                <a href="adminhome/items">作品管理</a>
                            </li>
                            <li class="de_admin_view " ng-show="currentUser.role=='admin'">
                                <a href="adminhome/comments">评论管理</a>
                            </li>
                            <li class="de_reg_view ">
                                <a href="http://127.0.0.1:50252/" target="_self">退出登录</a>
                            </li>
                        </ul>
                    </li>
                    <li class="de_guest_view" ng-show="!currentUser.id">
                        <a class="de_btn_login_reg de_borderbox" href="" ng-click="login()">登录/注册</a>
                    </li>
                </ul>
            </nav>

            <!-----顶部菜单----->
            <nav class="de_top_nav" id="de_top_nav">
                <ul>
                    <li><a href="projects" class="de_borderbox {{menuStatus.projectsClass}}">设计作品</a></li>
                    <li><a href="boxes" class="de_borderbox {{menuStatus.boxesClass}}">投稿箱</a></li>
                    <li class="de_btn_filter"><a href="" class="de_borderbox" ng-click="toSearch()">发现...</a></li>
                </ul>
            </nav>
        </header>

        <div class="de_screen_container" ng-view>

        </div>

        <footer class="de_footer">
            <p>© School of Design, Hunan University</p>
        </footer>
    </div>


    <!-----------作品详情----------->
    <section class="de_screen_project_detail" ng-controller="projectDetail" ng-show="mainFlags.showProjectDetailFlag" ng-include="mainFlags.projectDetailTemplate">

    </section>
    <!-----------弹窗小组件----------->
    <section class="de_popout de_boxshadow de_borderbox" ng-show="popFlags.showPop" ng-include="popFlags.popTemplateUrl">
    </section>
    <!-----------媒体详情----------->
    <section class="de_pop_show_media" ng-show="mainFlags.showPlayMedialPanel">
        <span class="de_pop_show_media_close" ng-click="closePlayMediaPanel()">关闭</span>
        <div id="de_pop_show_media_content" class="de_pop_show_media_content"></div>
    </section>
	<!-----------    ----------->
    <section class="de_web_video_panel" ng-show="mainFlags.showWebVideoPanel">
        <h3>请输入网络视频通用（含iframe标签）地址:</h3>
        <span class="de_pop_show_media_close" ng-click="closeWebVideoPanel()">关闭</span>
        <div id="de_web_video_panel_content" class="de_web_video_panel_content de_borderbox">
        <input type="text" id="de_input_web_video" class="de_input_web_video de_inputbox_gray">
        <input type="button" id="de_input_web_video_ok" class="de_input_web_video_ok de_button" value="确定">
        </div>
    </section>
	<!-----------blackout----------->
    <div class="de_blackout" ng-show="mainFlags.showBlackOut"></div>
    <!-----------load spinner----------->
    <div class="de_loading" ng-show="mainFlags.showLoading">
        <div class="de_loading_spinner" id="de_loading_spinner"></div>
    </div>

</body>
</html>
