<!-----------选题详情----------->
<section class="de_screen_user_profile " >
    <p class="noResult" ng-if="boxes.length==0">没有搜索结果...</p>
    <!-- 个人作品集就是一个特殊的 topic box -->
    <ul class="de_topic_list">
        <li class="de_topic_box">
            <!-- 选题发布者 -->
            <div class="user_info">
                <a ng-href="users/{{box.user.id}}" class="de_borderbox">
                    <img ng-src="{{box.user.setting.profile_image}}" class="photo">
                    <p class="name">{{box.user.fullname}}</p>
                </a>
            </div>
            <div class="topic_info">
                <p class="created_date">{{box.created_at}} 发布</p>
                <p class="topic_title">{{box.name}}</p>
                <ul class="de_stats_tags">
                    <li class="uploads ico-upload" title="上传">{{box.artifact_count}}</li>
                </ul>
            </div>
            <ul class="topic_action">
                <!-- 根据权限控制 -->
                <li ng-if="box.status==0" class="de_topic_action_submit">
                    <a ng-if="currentUser.id&&currentUser.active" ng-href="topic/{{box.id}}/artifact/"  title="投稿" class="ico-upload">投稿</a>
                    <a ng-if="!currentUser.id" href="" ng-click="login()" title="投稿" class="ico-upload">投稿</a>
                </li>
                <li ng-if="box.user.id==currentUser.id||(currentUser.roles|arrayHasElements:'admin')"
                    ng-class="{de_topic_action_lock:box.status==0,de_topic_action_unlock:box.status!=0}">
                    <a href="" toggle-lock-box="{{box.id}},{{box.status}},{{$index}}" title="锁定" ng-class="{'ico-lock':box.status==0,'ico-unlock':box.status!=0}">锁定</a></li>

                <li ng-if="box.user.id==currentUser.id||(currentUser.roles|arrayHasElements:'admin')" class="de_topic_action_setting">
                    <a ng-href="topics/{{box.id}}/update" title="设置" class="ico-setting">设置</a></li>

            </ul>
            <ul class="project_info">
                <li class="de_borderbox" ng-repeat="project in box.projects">
                    <a href="" class="de_entity_link" ng-click="showProjectDetail(project.artifact.id)">
                        <img ng-src="{{project.artifact.profile_image}}">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
	<p class="topic_description">{{box.description}}</p>
    <!-- 个人作品列表 -->
    <ul class="de_project_grid de_borderbox" >
        <li class="de_borderbox de_card_m" ng-repeat="project in projects">
            <div class="user_info">
                <a ng-href="users/{{project.user.id}}">
                    <img class="photo" ng-src="{{project.user.setting.profile_image}}">
                    <p class="name">{{project.user.fullname}}</p>
                    <p class="date">{{project.artifact.created_at}}</p>
                </a>
            </div>
            <div class="project_info">
                <a href="" class="de_entity_link" ng-click="showProjectDetail(project.artifact.id)">
                    <img class="thumb" ng-src="{{project.artifact.profile_image}}">
                    <h4>{{project.artifact.name}}</h4>                    
                </a>
            </div>
            <ul class="de_stats_tags">
                <!-- badges是荣誉勋章的数量 -->
                <li class="badges ico-medal" title="勋章">{{project.artifact.honor_count}}</li>
                <li class="likes ico-thumb" title="赞">{{project.artifact.praise_count}}</li>
                <li class="comments ico-textbubble" title="评价">{{project.artifact.comment_count}}</li>
            </ul>
        </li>
    </ul>
</section>