<h3 class="de_popout_title">个人设置</h3>
	<a href="#" class="de_popout_x_btn" id="de_popout_x_btn">关闭</a>
    <div class="de_wrapper de_transition">

<!-- 5.更新个人信息弹窗开始 -->
        <article class="de_borderbox de_popout_edit_profile" id="de_popout_edit_profile">
            <div class="de_edit_col de_borderbox">
                <form class="de_form_edit_profile" id="de_form_edit_profile" novalidate="novalidate">
                    <p class="de_photo_field" id="de_change_figure_container">
                        <img id="de_edit_figure" class="photo" src="images/app/default_user_photo.png">
                        <a href="#" id="de_change_figure" class="de_change_figure" style="z-index: 0;"> 更换头像</a>
                    <div id="p18t0spgenajp1cah1uf810do1eu60_html5_container" class="plupload html5" style="position: absolute; width: 0px; height: 0px; overflow: hidden; z-index: -1; opacity: 0; top: 0px; left: 0px; background: transparent;"><input id="p18t0spgenajp1cah1uf810do1eu60_html5" style="font-size: 999px; position: absolute; width: 100%; height: 100%;" type="file" accept="image/jpeg,image/gif,image/png"></div></p>

                    <p><em id="de_user_name">USER_NAME</em><span class="de_form_tip">（不可更改）</span></p>

                    <p class="de_about_field">
                        <textarea class="de_borderbox de_inputbox_gray" placeholder="关于你..." name="description" id="de_edit_description"></textarea></p>
                    <input type="submit" class="de_button de_btn_save_profile" name="de_btn_save_profile" id="de_btn_save_profile" value="保存">

                </form>
            </div>
            <div class="de_borderbox de_bind_account">
            
            	<h4>绑定登录邮箱</h4>
                <form id="de_form_edit_email" novalidate="novalidate">
                    <p class="de_email_field de_bind_email">
                            <input type="email" autocomplete="default" class="de_borderbox de_inputbox_gray" name="email" id="de_edit_login_email" placeholder="邮箱">
                    <input type="submit" class="de_button de_btn_save_email" name="de_btn_save_email" id="de_btn_save_email" value="绑定">
                    <label class="de_error" id="de_email_error"></label>
                </p></form>
                <p></p>
                <h4>绑定其他网站账号（可快速登录）</h4>
                <p><em>腾讯QQ:</em><span id="de_bind_account_btn" class="de_bind_account_btn"></span>
                    <span id="de_has_bind" class="de_has_bind">已绑定</span>
                    <span id="de_remove_bind" class="de_remove_bind">移除绑定</span>
                </p>
            </div>
        </article>
        <!-- 更新个人信息弹窗开结束 -->
</div>