<!--没有数据模版-->
<div class="de_404_main de_borderbox">
    <header class="de_404_header">
        <p class="de_404_wrong">Oops! </p>
        <p class="de_404_info"> 您访问的数据没有了，但我们可以一起寻找失踪宝贝！</p>
    </header>
    <article class="de_404_body">
        <a class="de_child_img" href="${url}" target="_blank">
            <img src="${child_pic}">
        </a>
        <div class="de_child_info">
            <p class="name"> <span>姓 名：</span> ${name} </p>
            <p class="sex"> <span>性 别：</span> ${sex} </p>
            <p class="birthday"> <span>出生日期：</span> ${birth_time} </p>
            <p class="losttime"> <span>失踪时间：</span> ${lost_time} </p>
            <p class="lostadd"> <span>失踪地点：</span> ${lost_place} </p>
            <p class="lostinfo"> <span>失踪人特征描述：</span> $${child_feature} </p>
        </div>
    </article>
</div>