<!--作品详情展示-->
<div ng-controller="projectDetail">
<!--工具栏-->
<div class="de_project_header de_borderbox">
    <a href="" ng-show="project.praised" class="de_flag_reg_zanned de_btn_zan de_borderbox">赞</a>
    <a href="" ng-show="!project.praised" class="de_btn_zan de_borderbox">赞</a>



    <ul class="de_project_toolbar de_transition">
        <li><a class="de_toolbar_edit" href="" title="编辑">编辑</a></li>
        <li><a class="de_toolbar_delete"  href="" title="删除">删除</a></li>
        <li><a class="de_toolbar_invisible" ng-show="project.canDoHidden" href="" title="显示/隐藏">显示/隐藏</a></li>
    </ul>

    <a href="" ng-show="project.toHome"  class="de_btn_close_project_detail de_btn_back_to_home">关闭</a>
    <a href="" ng-show="!project.toHome" ng-click="hideProjectDetail()" class="de_btn_close_project_detail">关闭</a>
</div>

<!--显示详细信息-->
<article class="de_project_detail de_borderbox de_boxshadow">
    <h2>{{project.title}}</h2>

    <p class="publishtime">{{project.date}}</p>

    <div class="user_info">
        <a ng-href="user/{{project.userId}}">
            <img class="photo" ng-src="{{project.userProfile}}">

            <p class="name">{{project.userName}}</p>
        </a>
    </div>

    <ul class="de_stats_tags">

        <li class="badges" id="honorCount" title="勋章">{{project.honorCount}}</li>
        <li class="likes" id="praiseCount" title="赞">{{project.praiseCount}}</li>
        <li class="comments" id="commentsCount" title="评论">{{project.commentsCount}}</li>
    </ul>


    <p class="abstract">
        {{description}}
    </p>

    <!--附件-->
    <div class="main_content">
        <figure ng-repeat="at in attachments" ng-switch="at.type">

            <a ng-switch-when="image" href=""
               ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)">
                <img ng-src="{{attachment.attachmentPreviewLocation}}"/>
            </a>

            <a ng-switch-when="video" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               class="de_has_media de_has_video" href="">
                <img ng-src="{{at.attachmentPreviewLocation}}"/>
            </a>

            <a ng-switch-when="networkVideo" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               href="" class="de_has_media de_has_web_video">
                <img ng-src="{{at.attachmentPreviewLocation}}"/></a>

            <a ng-switch-when="3d" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               href="" class="de_has_media de_has_3d">
                <img ng-src="{{at.attachmentPreviewLocation}}"/></a>


            <a ng-switch-when="ppt" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               href="" class="de_has_media de_has_ppt">
                <img ng-src="{{at.attachmentPreviewLocation}}"/></a>


            <a ng-switch-when="zip" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               href="" class="de_has_media de_has_file">
                <img ng-src="{{at.attachmentPreviewLocation}}"/></a>

            <a ng-switch-when="flash" ng-click="showAttachmentDetail(at.attachmentMediaLocation,at.type,at.attachmentId)"
               href="" class="de_has_media de_has_flash">
                <img ng-src="{{at.attachmentPreviewLocation}}"/></a>

            <figcaption>
                <span class="description">{{at.attachmentDescription}}</span>
            </figcaption>

        </figure>
    </div>
</article>

<!--评论-->
<div class="de_comment_box de_boxshadow de_borderbox">
    <ul class="de_comment_list">
        <li ng-repeat="c in comments">
            <div class="user_info">
                <a ng-href="user/{{c.userId}}" class="de_borderbox">
                    <img ng-src="{{c.userProfile}}" class="photo">
                </a>
            </div>
            <div class="comment_wrapper">
                <a ng-href="user/{{c.userId}}" class="name">{{c.userName}}</a>
                <span class="publishtime">{{c.commentTime}}</span>

                <a ng-show="c.deleteAble" href="" ng-click="deleteComment(c.id)" class="de_delete_comment">X</a>

                <p class="comment">{{c.commentContent}}</p>
            </div>
        </li>
    </ul>

    <span ng-click="loadMoreComments()" class="de_comment_more_btn de_hidden">加载更多...</span>


    <div ng-show="currentUser.id" class="de_comment_form de_reg_view de_borderbox">
        <div class="user_info">
            <a ng-href="user/{{currentUser.userId}}" class="de_borderbox" >
                <img ng-src="{{currentUser.profile}}" class="photo">
            </a>
        </div>
        <div class="comment_wrapper">
            <a ng-href="user/{{currentUser.userId}}" class="name">{{currentUser.name}}</a>
            <textarea ng-model="commentContent" maxlength="200" class="comment de_borderbox de_inputbox_gray"
                      placeholder="你的评论..."></textarea>
            <input type="button" class="de_button de_btn_add_comment"
                   ng-click="addComment(commentContent)" value="提交">
        </div>
    </div>

    <div ng-show="!currentUser.id" class="de_comment_form de_borderbox">
        <a href="" ng-click="login()" class="de_button de_borderbox de_btn_login_reg">发表评论前请先登录</a>
    </div>
</div>

<!--相关作品-->
<h4>其他相关作品</h4>
<ul class="de_project_grid">
    <li class="de_borderbox" ng-repeat="sp in similarProjects">
        <div class="user_info">
            <a ng-href="user/{{sp.userId}}">
                <img class="photo" ng-src="{{sp.userProfile}}"/>

                <p class="name">{{sp.userName}}</p>
            </a>
        </div>
        <div class="project_info">
            <a href="" ng-click="showProjectDetail(sp.id,true)">
                <img class="thumb" ng-src="{{sp.thumb}}">
                <h4>{{sp.title}}</h4>

                <p class="date">{{sp.date}}</p>
            </a>
        </div>
        <ul class="de_stats_tags">
            <!-- badges是荣誉勋章的数量 -->
            <li class="badges" title="勋章">{{sp.honorCount}}</li>
            <li class="likes" title="赞">{{sp.praiseCount}}</li>
            <li class="comments" title="评价">{{sp.commentsCount}}</li>
        </ul>
    </li>
</ul>

</div>