<!--作品详情展示-->

<!--工具栏-->
<div class="de_project_header de_borderbox">
    <a href="#" id="de_entity_praise" class="de_flag_reg_zanned de_btn_zan de_borderbox">赞</a>
    <a href="#" id="de_entity_praise" class="de_btn_zan de_flag_reg_zan de_borderbox">赞</a>



    <ul class="de_project_toolbar de_transition" id="de_entity_toolbar">
        <li><a class="de_toolbar_edit" data-handler="edit" href="edit/${id}" title="编辑">编辑</a></li>
        <li><a class="de_toolbar_delete" data-handler="delete" href="${id}" title="删除">删除</a></li>
        <li><a class="de_toolbar_invisible" data-handler="setVisible" data-target-visible="false"
               data-entity-id="${id}" href="${id}" title="显示/隐藏">显示/隐藏</a></li>
        <li><a class="de_toolbar_visible" data-handler="setVisible" data-target-visible="true"
               data-entity-id="${id}" href="${id}" title="显示/隐藏">显示/隐藏</a></li>
    </ul>

    <a href="#" data-behaiver="showHome" class="de_btn_close_project_detail de_btn_back_to_home" id="de_btn_close_project_detail">关闭</a>
    <a href="#" data-behaiver="close" class="de_btn_close_project_detail" id="de_btn_close_project_detail">关闭</a>
</div>

<!--显示详细信息-->
<article id="de_project_detail" class="de_project_detail de_borderbox de_boxshadow">
    <h2>${postTitle}</h2>

    <p class="publishtime">${postDate}</p>

    <div class="user_info">
        <a href="user/${userId}" class="de_user_link">
            <img class="photo" src="${userProfileImg}">

            <p class="name">${userName}</p>
        </a>
    </div>

    <ul class="de_stats_tags">
        {@if postType=="work"}
        <li class="badges" id="honorCount" title="勋章">${postHonorCount}</li>
        <li class="likes" id="praiseCount" title="赞">${postPraiseCount}</li>
        {@/if}
        <li class="comments" id="commentsCount" title="评论">${postCommentCount}</li>
    </ul>


    <p class="abstract">
        ${postDescribe}
    </p>

    <!--附件-->
    <div id="main_content" class="main_content" >
        <figure>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_only_image"><img data-media-type="zy_image" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_has_media de_has_video"><img data-media-type="zy_location_video" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_has_media de_has_web_video"><img data-media-type="zy_network_video" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_has_media de_has_3d"><img data-media-type="zy_3d" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_has_media de_has_ppt"><img data-media-type="zy_ppt" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a href="${at.attachmentMediaLocation}" class="de_has_file de_has_media"><img data-media-type="zy_file" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <a data-has-media="true" href="${at.attachmentMediaLocation}" class="de_has_flash de_has_media"><img data-media-type="zy_flash" data-media-id="${at.attachmentId}" src="${at.attachmentPreviewLocation}"/></a>

            <figcaption>
                <span class="description">${at.attachmentDescribe}</span>
            </figcaption>

        </figure>
    </div>
</article>

<!--评论-->
<div id="de_comments" class="de_comment_box de_boxshadow de_borderbox">
    <ul id="de_comment_list" class="de_comment_list">
        <li>
            <div class="user_info">
                <a href="user/${c.userId}" class="de_borderbox de_user_link">
                    <img src="${c.userProfileImg}" class="photo">
                </a>
            </div>
            <div class="comment_wrapper">
                <a href="user/${c.userId}" class="name de_user_link">${c.userName}</a>
                <span class="publishtime">${c.commentTime}</span>

                {@if c.deleteAble}
                <a href="${c.commentId}" class="de_delete_comment">X</a>
                {@/if}

                <p class="comment">${c.commentContent}</p>
            </div>
        </li>
    </ul>

    <span id="de_comment_more_btn" class="de_comment_more_btn de_hidden">加载更多...</span>

    {@if user.userId}
    <div class="de_comment_form de_reg_view de_borderbox">
        <div class="user_info">
            <a href="user/${user.userId}" class="de_borderbox de_user_link">
                <img src="${user.figure}" class="photo">
            </a>
        </div>
        <div class="comment_wrapper">
            <a href="user/${user.userId}" class="name de_user_link">${user.name}</a>
            <textarea id="de_comment_content" maxlength="200" class="comment de_borderbox de_inputbox_gray" placeholder="你的评论..."></textarea>
            <input type="submit" class="de_button de_btn_add_comment" name="de_btn_add_comment"
                   id="de_btn_add_comment" value="提交">
        </div>
    </div>
    {@else}
    <div class="de_comment_form de_borderbox">
        <a href="#" id="de_btn_comment_login" class="de_button de_borderbox de_btn_login_reg">发表评论前请先登录</a>
    </div>
    {@/if}
</div>

<!--相关作品-->
<h4>其他相关作品</h4>
<ul id="de_similar_entities" class="de_project_grid">
    <li class="de_borderbox">
        <div class="user_info">
            <a href="user/${e.userId}" class="de_user_link">
                <img class="photo" src="${e.userProfileImg}"/>

                <p class="name">${e.userName}</p>
            </a>
        </div>
        <div class="project_info">
            <a href="item/${e.postId}" class="de_entity_link">
                <img class="thumb" src="${e.postThumb}">
                <h4>${e.postTitle}</h4>

                <p class="date">${e.postDate}</p>
            </a>
        </div>
        {@if e.postType=='work'}
        <ul class="de_stats_tags">
            <li class="likes">${e.postPraiseCount+e.postHonorCount}</li>
            <li class="comments">${e.postCommentCount}</li>
        </ul>
        {@else}
        <ul class="de_media_tags">
            {@if e.postHasPpt}
            <li class="tag_ppt">PPT</li>
            {@/if}
            {@if e.postHasWebVideo}
            <li class="tag_web_video">网络视频</li>
            {@/if}
            {@if e.postHasLocalVideo}
            <li class="tag_local_video">本地视频</li>
            {@/if}
            {@if e.postHas3d}
            <li class="tag_3d">3D</li>
            {@/if}
            {@if e.postHasFile}
            <li class="tag_file">文档</li>
            {@/if}
            {@if e.postHasFlash}
            <li class="tag_flash">flash</li>
            {@/if}
        </ul>
        {@/if}
    </li>
</ul>