<h3 class="de_popout_title">找回密码</h3>
	<a href="#" class="de_popout_x_btn" id="de_popout_x_btn">关闭</a>
    <div class="de_wrapper de_transition">

<!-- 2.找回密码弹窗开始 -->
        <article class="de_borderbox de_popout_recover_pwd" id="de_popout_recover_pwd">
            <h4>不记得密码了？请输入您的注册邮箱，随后我们将发送一封邮件协助您找回密码。</h4>

            <form id="de_form_recover_pwd" class="de_form_recover_pwd" novalidate>
                <p class="de_email_field">
                    <input type="email" autocomplete="default" value="" class="de_borderbox de_inputbox_gray" name="email" id="de_recover_pwd_email" placeholder="邮箱">
                </p>
                <input type="submit" class="de_button de_submit_btn" name="de_submit_recover_pwd" id="de_sign_up" value="提交">
            </form>
        </article>
<!-- 找回密码弹窗结束 -->
</div>