<h3 class="de_popout_title">{{popFlags.title}}</h3>
<a href="" class="de_popout_x_btn ico-cross" ng-click="closePop()">关闭</a>
<div class="de_wrapper de_transition" ng-controller="search">

    <!-- 搜索弹窗开始 -->

    <article class="de_borderbox de_search_panel">
        <div class="de_top_search de_left_col de_borderbox">
            <div auto-complete></div>
        </div>

        <div class="de_top_directory de_right_col de_borderbox">
            <h3>按主题分类查看...</h3>
            <ul class="de_directory_list">
                <li><a href="" ng-click="toSearch('产品设计')">产品设计</a></li>
                <li><a href="" ng-click="toSearch('交互设计')">交互设计</a></li>
                <li><a href="" ng-click="toSearch('界面设计')">界面设计</a></li>
                <li><a href="" ng-click="toSearch('交通工具设计')">交通工具设计</a></li>
                <li><a href="" ng-click="toSearch('服务设计')">服务设计</a></li>
                <li><a href="" ng-click="toSearch('平面设计')">平面设计</a></li>
                <li><a href="" ng-click="toSearch('影像设计')">影像设计</a></li>
            	<li><a href="" ng-click="toSearch('工业设计史')">工业设计史</a></li>
                 <li><a href="" ng-click="toSearch('汽车造型设计理论与研究')">汽车造型设计理论与研究</a></li>
                 <li><a href="" ng-click="toSearch('设计概论')">设计概论</a></li>
                 <li><a href="" ng-click="toSearch('计算机辅助设计3')">计算机辅助设计3</a></li>
                 <li><a href="" ng-click="toSearch('数字界面原型')">数字界面原型</a></li>
            </ul>
        </div>
    </article>

    <!-- 搜索弹窗结束 -->
</div>