<!-----------显示选题----------->
<section class="de_topic_wrapper">
    <!-- 选题列表 -->
    <ul class="de_topic_list">        
        <li class="de_topic_box" ng-repeat="box in boxes">
            <div class="user_info">
                <a ng-href="user/{{box.userId}}" class="de_borderbox">
                    <img ng-src="{{box.userProfile}}" class="photo">
                    <p class="name">{{box.userName}}</p>
                </a>
            </div>
            <div class="topic_info">
                <p class="created_date">{{box.date}} 创建</p>
                <a ng-href="box/{{box.id}}">
                    <p class="topic_title">
                        征集：{{box.title}}
                    </p>
                </a>
                <ul class="de_stats_tags">
                    <li class="uploads" title="上传">{{box.projectCount}}</li>
                    <li class="badges" title="勋章">{{box.honorCount}}</li>
                </ul>
            </div>
            <ul class="topic_action">
                <!-- 根据权限控制 -->
                <li ng-hide="box.disabledUpload" class="de_topic_action_submit"><a ng-href="upload/{{box.id}}" >投稿</a></li>
                <li ng-show="box.disabledUpload" class="de_topic_action_view"><a ng-href="box/{{box.id}}" >查看</a></li>
                <li class="de_topic_action_lock"><a href="" ng-click="lockBox(box.id)">锁定</a></li>
                <li class="de_topic_action_setting"><a ng-href="box/edit/{{box.id}" >设置</a></li>
            </ul>
            <ul class="project_info">
                <li class="de_borderbox" ng-repeat="project in box.projects">
                    <a href="" class="de_entity_link" ng-click="showProjectDetail(project.id)">
                        <img ng-src="{{project.thumb}}">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>