<!-----------显示作品聚合----------->
<section class="de_screen_project" >
    <!-- 作品列表 -->
    <ul class="de_project_grid" >
        <li class="de_borderbox" ng-repeat="project in projects">
           <div class="project_info">
                <a href="" ng-click="showProjectDetail(project.id)">
                    <img class="thumb" ng-src="{{project.thumb}}">
                    <h4>{{project.title}}</h4>
                    <p class="date">{{project.date}}</p>
                </a>
            </div>
            <div class="user_info">
                <a ng-href="user/{{project.userId}}">
                    <img class="photo" ng-src="{{project.userProfile}}">
                    <p class="name">{{project.userName}}</p>
                </a>
            </div>            
            <ul class="de_stats_tags">
                <!-- badges是荣誉勋章的数量 -->
                <li class="badges" title="勋章">{{project.honorCount}}</li>
                <li class="likes" title="赞">{{project.praiseCount}}</li>
                <li class="comments" title="评价">{{project.commentsCount}}</li>
            </ul>
        </li>
    </ul>
</section>