<h3 class="de_popout_title">登录</h3>
	<a href="#" class="de_popout_x_btn" id="de_popout_x_btn">关闭</a>
    <div class="de_wrapper de_transition">

<!-- 0.登录弹窗开始 -->
        <article class="de_borderbox de_popout_login">
            <div class="de_login_col de_borderbox">                
                <form id="de_login_form" class="de_form_email_login" method="post" novalidate>
                    <p class="de_email_field">
                     <input type="email" autocomplete="default" value="" class="de_borderbox de_inputbox_gray valid" name="de_login_email" id="de_login_email" placeholder="邮箱">
                    </p>

                    <p class="de_pwd_field">
                        <input type="password" autocomplete="default" value="" class="de_borderbox de_inputbox_gray" name="de_login_pwd" id="de_login_pwd" placeholder="密码">
                    </p>

                    <div class="de_misc_field">
                        <input type="checkbox" id="de_remember_me" name="de_remember_me">
                        <label for="de_remember_me">记住我</label>

                        <p class="de_forgot_pwd"><a href="#" id="de_btn_forgot_pwd">忘记了密码？</a></p>
                    </div>
                    <input type="submit" class="de_button de_submit_btn" name="de_btn_sign_in" id="de_btn_sign_in" value="登录">
                    <label class="de_error" id="de_login_error"></label>
                </form>
            </div>
            <div class="de_borderbox de_reg_col">
                <h4>第一次来？请创建一个帐号。</h4>
                <a href="#" class="de_button de_borderbox de_reg_btn" id="de_reg_btn">注册</a>
            </div>
        </article>
<!-- 登录弹窗结束 -->
</div>