<h3 class="de_popout_title">{{popFlags.title}}</h3>
	<a href="" ng-click="closePop()" class="de_popout_x_btn ico-cross">关闭</a>
    <div class="de_wrapper de_transition" ng-controller="signUp">

<!-- 1.注册弹窗开始 -->
        <article class="de_borderbox de_popout_reg">
            <div class="de_reg_col de_left_col de_borderbox">
                <form name="registerForm" class="" ng-submit="registerSubmit()" novalidate>
                    <p class="de_username_field">
                        <input type="text" class="de_borderbox de_inputbox_gray" name="fullname"
                               placeholder="姓名（无法修改）" autocomplete="off" ng-maxlength="32" ng-model="user.fullname" own-required required>
                        <span class="error" ng-if="registerForm.fullname.$dirty && registerForm.fullname.$touched">
                            <label ng-if="registerForm.fullname.$error.ownRequired">{{validMessage.required}}</label>
                            <label ng-if="registerForm.fullname.$error.maxlength">{{validMessage.maxLength | setMaxLength:32}}</label>
                        </span>
                    </p>
                    <p class="de_email_field">
                        <input type="email" ng-model="user.email" autocomplete="off" class="de_borderbox de_inputbox_gray" name="email" placeholder="邮箱"
                               ng-maxlength="32" own-required required email-exist>
                        <span class="error" ng-if="registerForm.email.$dirty && registerForm.email.$touched">
                            <label ng-if="registerForm.email.$error.ownRequired">{{validMessage.required}}</label>
                            <label ng-if="registerForm.email.$error.email">{{validMessage.email}}</label>
                            <label ng-if="registerForm.email.$error.emailExist">{{validMessage.emailExist}}</label>
                            <label ng-if="registerForm.email.$error.maxlength">{{validMessage.maxLength | setMaxLength:32}}</label>
                        </span>
                    </p>

                    <p class="de_pwd_field">
                        <input type="password" class="de_borderbox de_inputbox_gray" name="password" placeholder="密码"
                               ng-minlength="6" autocomplete="off" ng-model="user.password" ng-maxlength="20" own-required required>
                        <span class="error" ng-if="registerForm.password.$dirty && registerForm.password.$touched">
                            <label ng-if="registerForm.password.$error.ownRequired">{{validMessage.required}}</label>
                            <label ng-if="registerForm.password.$error.minlength">{{validMessage.minLength | setMinLength:6}}</label>
                            <label ng-if="registerForm.password.$error.maxlength">{{validMessage.maxLength | setMaxLength:20}}</label>
                        </span>
                    </p>

                    <p class="de_jcaptcha">
                        <img class="de_jcaptcha_img de_borderbox" ng-src="{{captcha}}">
                        <span class="de_jcaptcha_refresh" ng-click="refreshCaptcha()">看不清？换一张</span>
                        <input type="text" name="captcha" ng-model="user.captcha" class="de_borderbox de_jcaptcha_input"
                               placeholder="请输入左侧字符" own-required required>
                        <span class="error" ng-if="registerForm.captcha.$dirty && registerForm.captcha.$touched">
                            <label ng-if="registerForm.captcha.$error.ownRequired">{{validMessage.required}}</label>
                        </span>
                    </p>
                    <input type="submit" class="de_green_btn de_submit_btn" value="注册" ng-disabled="registerForm.$invalid">

                </form>
                <div ng-if="emailUrl!=''">
                    注册成功，请进入<a ng-href="{{emailUrl}}" class="de_green_text" target="_blank">邮箱</a>进行账户激活！
                </div>
            </div>
        </article>
        <!-- 注册弹窗结束 -->
</div>