<h3 class="de_popout_title">{{title}}</h3>
<a href="" class="de_popout_x_btn" ng-click="closePop()">关闭</a>
<div class="de_wrapper de_transition">
    <article class="de_borderbox de_popout_login">
        <div class="de_login_col de_borderbox">
            <form class="de_form_email_login" name="loginForm" ng-submit="loginSubmit" novalidate>
                <p class="de_email_field">
                    <input type="email" class="de_borderbox de_inputbox_gray" required ng-model="login.email"
                        ng-maxlength="32" name="email"  placeholder="邮箱">
                    <span ng-show="loginForm.name.$dirty && loginForm.name.$invalid" ng-messages="loginForm.email.$error">
                        <label ng-message="required">{{validMessage.required}}</label>
                        <label ng-message="maxlength">{{validMessage.maxLength}}</label>
                    </span>
                </p>

                <p class="de_pwd_field">
                    <input type="password" class="de_borderbox de_inputbox_gray" required ng-model="login.password"
                        ng-minlength="6" ng-maxlength="20" name="de_login_pwd" placeholder="密码">
                    <span ng-show="loginForm.name.$dirty && loginForm.name.$invalid" ng-messages="loginForm.email.$error">
                        <label ng-message="required">{{validMessage.required}}</label>
                        <label ng-message="minlength">{{validMessage.minLength | setMinLength:6}}</label>
                        <label ng-message="maxlength">{{validMessage.maxLength | setMaxLength:20}}</label>
                    </span>
                </p>

                <div class="de_misc_field">
                    <input type="checkbox" ng-checked="hasCookie" ng-click="rememberMe()" name="de_remember_me">
                    <label>记住我</label>

                    <p class="de_forgot_pwd"><a href="#" id="de_btn_forgot_pwd">忘记了密码？</a></p>
                </div>
                <input type="submit" class="de_button de_submit_btn" name="de_btn_sign_in" id="de_btn_sign_in" value="登录">
                <label class="de_error" id="de_login_error"></label>
            </form>
        </div>
        <div class="de_borderbox de_reg_col">
            <h4>第一次来？请创建一个帐号。</h4>
            <a href="" class="de_button de_borderbox de_reg_btn" ng-click="toRegPanel()">注册</a>
        </div>
    </article>
</div>