<!-----------上传作品----------->
<section class="de_screen_upload">
    <nav class="de_tab_upload">
        <ol>
            <li><a href="" class="de_tab_step1 active {{stepClass[0]}}" ng-click="setStepActive(0)">1. 填写基本信息</a></li>
            <li><a href="" class="de_tab_step2 active {{stepClass[1]}}" ng-click="setStepActive(1)">2. 上传</a></li>
            <li><a href="" class="de_tab_step3 active {{stepClass[2]}}"
                   ng-click="setStepActive(2);getPreviewMedias('mediaItem','data-media-id')">3. 预览并提交</a></li>
        </ol>
    </nav>
    <form class="de_form_upload de_borderbox de_boxshadow">
        <div class="de_upload_step1" ng-show="stepPanelIndex==0">
            <p class="de_field_project_title">
                <label>标题</label>
                <input type="text" maxlength="80" class="de_borderbox de_inputbox_gray"
                       name="title" ng-model="uploadProject.title">
            </p>

            <p class="de_field_project_tag">
                <label>标签</label>
                <ul class="de_borderbox de_category_tag_box">
                    <li ng-repeat="tag in uploadProject.tags">
                        <a href="" ng-click="deleteTag($index)">{{tag}}</a>
                    </li>
                </ul>
                <p class="de_form_tip">在下方输入标签，按回车确认。</p>
                <input type="text" class="de_inputbox_gray de_borderbox de_input_project_tag " maxlength="20"
                   placeholder="新标签..." ng-keydown="keyDownAddTag($event,uploadProject.newTag)"
                   ng-blur="blurAddTag(uploadProject.newTag)" ng-model="uploadProject.newTag">
            </p>
            <p class="de_field_project_description">
                <label>内容说明</label>
                <textarea class="de_borderbox de_inputbox_gray" name="description" ng-model="uploadProject.description"></textarea></p>

            <p class="de_field_project_thumb" id="uploadThumbContainer">
                <span class="de_form_tip">请上传正方形的jpg或png图像。</span>
                <a href="" class="de_btn_upload_thumb de_button" id="uploadThumb"
                   ng-init="createThumbUploader('uploadThumb','uploadThumbContainer')">上传缩略图</a>

                <img class="de_project_thumb" width="400" height="400" ng-src="{{uploadProject.thumb}}"/>

            </p>
        </div>

        <!-- step 2-->
        <div class="de_upload_step2" ng-show="stepPanelIndex==1">
            <div class="zy_uploader_column_left">
                <span class="zy_section_left_header" ng-mouseenter="showMediaMenu()" ng-mouseleave="hideMediaMenu()">添加文件</span>
                <!--媒体文件类型的menu-->

                <div id="uploadContainer" ng-mouseenter="showMediaMenu()" ng-mouseleave="hideMediaMenu()" class="zy_add_media_menu {{mediaMenuActive}}">
                    <ul>
                        <li><a id="uploadImage" class="zy_types1"
                               ng-init="createImageUploader('uploadImage','uploadContainer')">图片（JPG, PNG）</a></li>
                        <li><a id="uploadMp4" class="zy_types2"
                               ng-init="createMp4Uploader('uploadMp4','uploadContainer')">视频（MP4）</a></li>
                        <li><a id="uploadPpt" class="zy_types3"
                               ng-init="createPptUploader('uploadPPt','uploadContainer')">幻灯片（PPT）</a></li>
                        <li><a id="uploadPdf" class="zy_types4"
                                ng-init="createPdfUploader('uploadPdf','uploadContainer')" >文档（PDF）</a></li>
                        <li><a id="uploadFlash" class="zy_types5"
                               ng-init="createFlashUploader('uploadFlash','uploadContainer')">FLASH动画（SWF）</a></li>
                        <li><a id="uploadZip" class="zy_types6"
                               ng-init="createZipUploader('uploadZip','uploadContainer')">附件（ZIP）</a></li>
                         <!--<li><a id="upload3d" class="zy_types7"
                               ng-init="createFileUploader('uploadFile','uploadContainer')">3D文件</a></li>-->
                    </ul>
                </div>
                <ol id="mediaList" class="zy_uploaded_medias_ol" drag="mediaItem">
                    <li ng-click="showSetPanel(mediaId,value.mediaType)" data-media-id="{{mediaId}}"
                        ng-repeat="(mediaId,value) in uploadProject.medias" draggable="true"
                        ng-class="{zy_media_list_error:value.noThumb,zy_media_list_active:value.active}" class="mediaItem">
                        <img class="zy_small_thumb" ng-src="{{value.mediaThumbFilePath}}">
                        <span title='{{value.mediaFilename}}' class="zy_media_filename">
                            {{value.mediaFilename}}
                        </span>
                        <span class="zy_media_delete" ng-click="deleteMedia(mediaId)"></span>
                    </li>
                </ol>
            </div>
            <div class="zy_uploader_column_right" id="zy_uploader_column_right">
                <header class="zy_section_right_header"><p><b>{{mediaSetTitle}}</b></p></header>
                <section ng-include="mediaSetPanelUrl">

                </section>
            </div>
        </div>

        <!-- step 3-->
        <div class="de_upload_step3" ng-show="stepPanelIndex==2">
            <input type="submit" autocomplete="default" value="提交" class="de_borderbox de_submit_upload"
                   name="de_submit_upload" id="de_submit_upload"/>
            <article id="de_upload_preview" class="de_project_detail de_borderbox">
                <h2>{{uploadProject.title}}</h2>
                <p class="publishtime"></p>
                <div class="user_info">
                    <a href="user/{{currentUser.id}}">
                        <img class="photo" src="{{currentUser.profile}}">
                        <p class="name">{{currentUser.name}}</p>
                    </a>
                </div>
                <p class="abstract">
                    {{uploadProject.description}}
                </p>

                <div class="main_content">
                    <figure ng-repeat="media in previewMedias">
                        <a ng-class="{de_has_ppt:media.type=='image'}" class="de_has_media"  href="" ng-click="">
                            <img ng-src="{{media.mediaThumbFilePath}}"/>
                        </a>
                        <figcaption>
                            {{media.mediaTitle}}
                            <span class="description">
                                {{media.mediaMemo}}
                            </span>
                        </figcaption>
                    </figure>
                </div>
            </article>
        </div>
    </form>
</section>