<!-----------上传作品----------->
<section class="de_screen_upload">
    <nav class="de_tab_upload">
        <ol>
            <li><a href="" class="de_tab_step1 active {{stepClass[0]}}" ng-click="setStepActive(0)">1. 填写基本信息</a></li>
            <li><a href="" class="de_tab_step2 active {{stepClass[1]}}" ng-click="setStepActive(1)">2. 上传</a></li>
            <li><a href="" class="de_tab_step3 active {{stepClass[2]}}" ng-click="setStepActive(2)">3. 预览并提交</a></li>
        </ol>
    </nav>
    <form class="de_form_upload de_borderbox de_boxshadow">
        <div class="de_upload_step1 {{stepPanelClass[0]}}">
            <p class="de_field_project_title">
                <label>标题</label>
                <input type="text" maxlength="80" class="de_borderbox de_inputbox_gray"
                       name="title" ng-model="uploadProject.title">
            </p>

            <p class="de_field_project_tag">
                <label>标签</label>
                <ul class="de_borderbox de_category_tag_box">
                    <li ng-repeat="tag in uploadProject.tags">
                        <a href="" ng-click="deleteTag($index)">{{tag}}</a>
                    </li>
                </ul>
                <p class="de_form_tip">在下方输入标签，按回车确认。</p>
                <input type="text" class="de_inputbox_gray de_borderbox de_input_project_tag " maxlength="20"
                   placeholder="新标签..." ng-keydown="keyDownAddTag($event,uploadProject.newTag)"
                   ng-blur="blurAddTag(uploadProject.newTag)" ng-model="uploadProject.newTag">
            </p>
            <p class="de_field_project_description">
                <label>内容说明</label>
                <textarea class="de_borderbox de_inputbox_gray" name="description" ng-model="uploadProject.description"></textarea></p>

            <p class="de_field_project_thumb" id="uploadThumbContainer">
                <span class="de_form_tip">请上传高宽比为1:1的jpg或png图像。</span>
                <a href="" class="de_btn_upload_thumb de_button" id="uploadThumb"
                   ng-init="createThumbUploader('uploadThumb','uploadThumbContainer')">上传缩略图</a>

                <img class="de_project_thumb" width="400" height="400" ng-src="{{uploadProject.thumb}}"/>

            </p>
        </div>

        <!-- step 2-->
        <div class="de_upload_step2 {{stepPanelClass[1]}}" >
            <div class="zy_uploader_column_left">
                <span class="zy_section_left_header">添加文件</span>
                <!--媒体文件类型的menu-->

                <div id="uploadContainer" class="zy_add_media_menu zy_add_media_menu_active">
                    <ul>
                        <li><a id="uploadImage" class="zy_types1"
                               ng-init="createImageUploader('uploadImage','uploadContainer')">图片</a></li>
                        <li><a id="zy_add_network_video" class="zy_types2">网络视频</a></li>
                        <li><a id="uploadVideo" class="zy_types3"
                               ng-init="createVideoUploader('uploadVideo','uploadContainer')">mp4文件</a></li>
                        <!--<li><a id="zy_add_3d" class="zy_types4">3D文件</a></li>-->
                        <li><a id="uploadPpt" class="zy_types5"
                               ng-init="createPptUploader('uploadPPt','uploadContainer')">ppt文件</a></li>
                        <li><a id="uploadFile" class="zy_types6"
                               ng-init="createFileUploader('uploadFile','uploadContainer')">zip文件</a></li>
                        <li><a id="uploadFlash" class="zy_types7"
                               ng-init="createFlashUploader('uploadFlash','uploadContainer')">flash</a></li>
                    </ul>
                </div>
                <ol id="zy_uploaded_medias_ol" class="zy_uploaded_medias_ol">
                    <li ng-click="" ng-repeat="(mediaId,value) in uploadProject.medias" draggable="true"
                        ng-class="{zy_uncomplete_li:value.unComplete,zy_media_list_error:value.noThumb}">
                        <img class="zy_small_thumb" ng-src="{{value.thumbFilePath}}">
                        <span title='{{value.filename}}' class="zy_media_filename">
                            {{value.filename}}
                        </span>
                        <span class="zy_media_delete" ng-click="deleteMedia(mediaId)"></span>
                    </li>
                </ol>
            </div>
            <div class="zy_uploader_column_right" id="zy_uploader_column_right">
                <header class="zy_section_right_header"><p><b>{{mediaTitle}}</b></p></header>
                <section ng-include="">

                </section>
            </div>
        </div>

        <!-- step 3-->
        <div class="de_upload_step3 {{stepPanelClass[2]}}">
            <input type="submit" autocomplete="default" value="提交" class="de_borderbox de_submit_upload"
                   name="de_submit_upload" id="de_submit_upload"/>
            <article id="de_upload_preview" class="de_project_detail de_borderbox">
                <h2>${title}</h2>
                <p class="publishtime">${date}</p>
                <div class="user_info">
                    <a href="user/${userId}" class="de_user_link">
                        <img class="photo" src="${userFigure}">
                        <p class="name">${username}</p>
                    </a>
                </div>
                <p class="abstract">
                    ${description}
                </p>

                <div class="main_content">

                    {@each medias as m}
                    <figure>
                        <!--<img src="${m.thumb}"/>-->
                        $${m.content}
                        <figcaption>
                            ${m.title}
                            {@if m.memo}
					<span class="description">
						${m.memo}
					</span>
                            {@/if}
                        </figcaption>
                    </figure>
                    {@/each}

                </div>
            </article>
        </div>
    </form>
</section>