<!-----------用户首页----------->
<section class="de_screen_user_profile " >
    <!-- 个人作品集就是一个特殊的 topic box -->
    <ul class="de_topic_list">
        <li class="de_topic_box">
            <!-- 选题发布者 -->
            <div class="user_info">
                <a ng-href="user/{{user.id}}" class="de_borderbox">
                    <img ng-src="{{user.profile}}" class="photo">
                    <p class="name">{{user.name}}</p>
                </a>
            </div>
            <div class="topic_info">
                <p class="created_date">{{user.date}} 注册</p>
                <p class="topic_title">{{user.name}}的作品集</p>
                                
                <ul class="de_stats_tags">
                    <li class="uploads" title="上传">{{user.projectCount}}</li>
                    <li class="badges" title="勋章">{{user.honorCount}}</li>
                </ul>
            </div>
            <ul class="topic_action" ng-show="{{user.disabledUpload}}">
                <!-- 根据权限控制 -->
                <li class="de_topic_action_submit"><a href="#" >上传</a></li>
            </ul>
            <ul class="project_info">
                <li class="de_borderbox" ng-repeat="project in box.projects">
                    <a href="" class="de_entity_link" ng-click="showProjectDetail(project.id)">
                        <img ng-src="{{project.thumb}}">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
	<p class="topic_description">{{user.description}}</p>
   
    <!-- 个人作品列表 -->
    <ul class="de_project_grid de_borderbox" >
        <li class="de_borderbox" ng-repeat="project in projects">
            <div class="user_info">
                <a href="" ng-click="showUserHome(project.userId)">
                    <img class="photo" ng-src="{{project.userProfile}}">
                    <p class="name">{{project.userName}}</p>
                </a>
            </div>
            <div class="project_info">
                <a href="" class="de_entity_link" ng-click="showProjectDetail(project.id)">
                    <img class="thumb" ng-src="{{project.thumb}}">
                    <h4>{{project.title}}</h4>
                    <p class="date">{{project.date}}</p>
                </a>
            </div>
            <ul class="de_stats_tags">
                <!-- badges是荣誉勋章的数量 -->
                <li class="badges" title="勋章">{{project.honorCount}}</li>
                <li class="likes" title="赞">{{project.praiseCount}}</li>
                <li class="comments" title="评价">{{project.commentsCount}}</li>
            </ul>
        </li>
    </ul>
</section>